<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanzan.dao.CarsMapper">

    <!-- 添加Cars -->
    <insert id="addCars" parameterType="com.lanzan.entity.Cars">
        INSERT IGNORE INTO cars(carIcon,carId,carNO,machineNO,serviceStatus,serviceTime,teamId)
          VALUES (#{carIcon},#{carId},#{carNO},#{machineNO},#{serviceStatus},#{serviceTime},#{teamId})
    </insert>

</mapper>