<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanzan.dao.DriverMapper">

    <!-- 添加驾驶员 -->
    <insert id="addDriver" parameterType="com.lanzan.entity.Driver">
        INSERT INTO driver(dgrouping,dname,dphone,dcard)
		    VALUES (#{dgrouping},#{dname},#{dphone},#{dcard})
    </insert>

    <!-- 删除驾驶员 -->
    <delete id="deleteDriver" parameterType="com.lanzan.entity.Driver">
        DELETE FROM driver WHERE did=#{did}
    </delete>

    <!-- 查询驾驶员 -->
    <select id="listDriver" resultType="com.lanzan.entity.Driver" parameterType="int">
        SELECT did,dgrouping,dname,dphone,dcard FROM driver
            <where>
                <if test=" dGrouping!=null and  dGrouping!='' ">
                    dgrouping LIKE concat(concat('%',#{dGrouping}),'%')
                </if>
                <if test=" dName!=null and  dName!='' ">
                    AND dname LIKE concat(concat('%',#{dName}),'%')
                </if>
                <if test=" dPhone!=null and  dPhone!='' ">
                    AND dphone LIKE concat(concat('%',#{dPhone}),'%')
                </if>
                <if test=" dCard!=null and  dCard!='' ">
                    AND dcard LIKE concat(concat('%',#{dCard}),'%')
                </if>
            </where>
        order by did desc limit #{pageNum},#{pageSize}
    </select>
    <!-- 尾页 -->
    <select id="endPageListDriver" resultType="int" parameterType="String">
        SELECT COUNT(*) FROM driver
            <where>
                <if test=" dGrouping!=null and  dGrouping!='' ">
                    dgrouping LIKE concat(concat('%',#{dGrouping}),'%')
                </if>
                <if test=" dName!=null and  dName!='' ">
                    AND dname LIKE concat(concat('%',#{dName}),'%')
                </if>
                <if test=" dPhone!=null and  dPhone!='' ">
                    AND dphone LIKE concat(concat('%',#{dPhone}),'%')
                </if>
                <if test=" dCard!=null and  dCard!='' ">
                    AND dcard LIKE concat(concat('%',#{dCard}),'%')
                </if>
            </where>
        order by did desc
    </select>


    <!-- 修改驾驶员信息 -->
    <update id="updateDriver" parameterType="com.lanzan.entity.Driver">
        UPDATE driver set dgrouping=#{dgrouping},dname=#{dname},dphone=#{dphone},dcard=#{dcard} WHERE did=#{did}
    </update>

</mapper>