<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanzan.dao.MapMapper">

    <!-- 查询在线农机 -->
    <select id="getOnLineAm" resultType="com.lanzan.entity.AgriculturalMachinery">
        SELECT * FROM agriculturalmachinery WHERE uid=#{uid} AND am_state='在线'
    </select>

    <!-- 查询离线农机 -->
    <select id="getOffLineAm" resultType="com.lanzan.entity.AgriculturalMachinery">
        SELECT * FROM agriculturalmachinery WHERE uid=#{uid} AND am_state='离线'
    </select>

    <!-- 根据分组查询农机 -->
    <select id="getGroupingAm" resultType="com.lanzan.entity.AgriculturalMachinery" parameterType="String">
        SELECT * FROM agriculturalmachinery WHERE uid=#{uid} AND am_grouping LIKE "%"#{am_grouping}"%"
    </select>

    <!-- 地图农机详细信息查询(根据农机编号查询) -->
    <select id="getMapDto" resultType="com.lanzan.dto.MapDto" parameterType="String">
        SELECT agriculturalmachinery.am_grouping,
			   agriculturalmachinery.am_licensePlate,
			   agriculturalmachinery.am_SN,
			   agriculturalmachinery.am_type,
			   agriculturalmachinery.am_state,
               driver.dname,driver.dphone,
			   task.ttype,task.tbreadth
        FROM task,agriculturalmachinery,driver,cars
        WHERE task.am_id=agriculturalmachinery.am_id AND task.did=driver.did
                    AND cars.carNO=agriculturalmachinery.am_SN AND agriculturalmachinery.am_SN=#{carId}
    </select>

</mapper>