<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanzan.dao.RealTimeMapper">

    <!-- 添加实时位置数据 -->
    <insert id="addRealTime" parameterType="com.lanzan.entity.RealTime">
        INSERT INTO realtime(acode,carId,direction,gpstime,la,lat,lng,lo,mileage,online,pointed,scode,speed,stopTime,strGGPV)
		    VALUES (#{acode},#{carId},#{direction},#{gpstime},#{la},#{lat},#{lng},#{lo},#{mileage},#{online},#{pointed},#{scode},#{speed},#{stopTime},#{strGGPV})
    </insert>

    <!-- 查询车辆实时位置 -->
    <select id="listLocation" resultType="com.lanzan.entity.RealTime">
        SELECT * FROM realtime WHERE carId in (SELECT carId FROM cars) ORDER BY gpstime desc LIMIT 1
    </select>

</mapper>