<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanzan.dao.UserMapper">

    <!--根据用户名获取user对象-->
    <select id="getUserWhereuname" resultType="com.lanzan.entity.User" parameterType="String">
        SELECT uid,uname,upass FROM user WHERE uname=#{uname}
    </select>

    <!-- 根据uid获取头像与昵称 -->
    <select id="getPhotoAndName" parameterType="int" resultType="com.lanzan.entity.UserInfo">
        SELECT ui_photo,ui_name FROM userinfo WHERE uid=#{uid}
    </select>

    <!-- 根据登录账户获取uid与rid -->
    <select id="getUserDto" resultType="com.lanzan.dto.UserDto" parameterType="String">
        SELECT u.uid,ru.rid FROM user u LEFT JOIN role_user ru ON u.uid=ru.uid WHERE u.uname=#{uName}
    </select>

</mapper>