<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lanzan.dao.UserMapper">

    <!--根据审核状态 查询用户 0 未审核 1 通过审核 2 未通过审核-->
    <select id="getUserByState" resultType="User">
        SELECT * FROM user
    </select>

</mapper>